<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        <title>Hall Booking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="halls.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
        <link rel = "icon" href = "" type = "image/png">
</head>
<body>
    <!-- side navbar -->
    <header>
        <div class="head-top">
            <div class = "site-nav">
                <span id = "nav-btn">MENU <i class = "fas fa-bars"></i></span>
            </div>
        </div>
    </header>
  
    <div class = "sidenav" id = "sidenav">
        <span class = "cancel-btn" id = "cancel-btn">
            <i class = "fas fa-times"></i>
        </span>

        <ul class = "navbar">
            <li><a href = "/">home</a></li>
            <li><a href = "halls">halls</a></li>
            <li><a href = "#">contact us</a></li>
            
        </ul>
        <a href="login"><button class = "btn sign-up">Login</button></a>
        <a href="signup"><button class = "btn log-in">Sign up</button></a>
    </div>
    <!-- end of side navbar -->

    <!-- fullscreen modal -->
    <div id = "modal"></div>
    <!-- end of fullscreen modal -->

    <section class = "rooms sec-width" id = "rooms">
        
        <div class = "title">
            <h2>halls</h2>
        </div>
        <div class = "rooms-container">
            <!-- single room -->
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Exploretorium.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Exploretorium</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Used for Event purpose
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 900
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Pulitzer.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Pulitzer hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 100
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <!-- end of single room -->
            <!-- single room -->
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Faraday.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Faraday hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity -Aprox 250 to 300 
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Moon.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Moon hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Einstein.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Einstein hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 50
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Pierre.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Pierre Jeanneret hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 110
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Sun.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Sun hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Used for Placement .
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 200
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "img/Warren Buffett.jpeg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Warren Buffett hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - 
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <article class = "room">
                <div class = "room-image">
                    <img src = "https://www.chitkara.edu.in/wp-content/uploads/2020/07/audi2.jpg" alt = "room image">
                </div>
                <div class = "room-text">
                    <h3>Plato hall</h3>
                    <ul>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Capacity - .
                        </li>
                        <li>
                            <i class = "fas fa-arrow-alt-circle-right"></i>
                            Lorem ipsum dolor sit amet.
                        </li>
                    </ul>
                    
                    <a style="text-decoration: none;" href="booking"><button class="btn sign-up">Book Now</button></a>
                </div>
            </article>
            <!-- end of single room -->
        </div>
    </section>


    
    <!-- end of body content -->

     <!-- footer -->
     <footer class = "footer">
        <div class = "footer-container">
            <div>
                <h2>About Us </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque sapiente mollitia doloribus provident? Eos quisquam aliquid vel dolorum, impedit culpa.</p>
                <ul class = "social-icons">
                    <li class = "flex">
                        <i class = "fa fa-twitter fa-2x"></i>
                    </li>
                    <li class = "flex">
                        <i class = "fa fa-facebook fa-2x"></i>
                    </li>
                    <li class = "flex">
                        <i class = "fa fa-instagram fa-2x"></i>
                    </li>
                </ul>
            </div>

            <div>
                <h2>Useful Links</h2>
                <a href = "#">home</a>
                <a href = "#">halls</a>
                <a href = "#">gallery</a>
                <a href = "#">login</a>
            </div>

            <div>
                <h2>Privacy</h2>
                
                <a href = "#">About Us</a>
                <a href = "#">Contact Us</a>
                
            </div>

            <div>
                <h2>Have A Question</h2>
                
                <div class = "contact-item">
                    <span>
                        <i class = "fas fa-phone-alt"></i>
                    </span>
                    <span>
                        +91-9988776655
                    </span>
                </div>
                <div class = "contact-item">
                    <span>
                        <i class = "fas fa-envelope"></i>
                    </span>
                    <span>
                        info@gmail.com
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->
    
    <script src="main.js"></script>
</body>
</html>